<% servicos = @servicos %>
<% cont = 0 %>
<% servicos.each do |servico| %>
    <% cont += 1 %>
    <div class="col-md-6 <%= raw "col-md-push-6" if cont.even? %>">
        <div class="reg_single_carousel reg_rooms_carousel">
            <% servico.images.each do |image| %>
                <% data_image =  cl_image_path(image.key) %>
                <div class="reg_room_block reg_image_bck" data-image="<%= data_image %>">
                    <!-- <div class="reg_slider_copyright">Living Room</div> -->
                </div>
            <% end %>
        </div>
    </div>
    <div class="col-md-6 <%= raw "col-md-pull-6" if cont.even? %> reg_image_bck" data-color="#fff">
        <div class="reg_simple_block text-left">
            <h2><%= servico.title.titleize %></h2>
                <% a = servico.subtitle.slice(0,1).capitalize %>
                <% b = servico.subtitle.slice(1..-1) %>
                <% if not a.nil? and not b.nil? %>
                    <h3><%= servico.subtitle.slice(0,1).capitalize + servico.subtitle.slice(1..-1) %></h3>
                <% end %>
            <p><%= servico.body %></p>
        </div>
    </div>
<% end %>
