<% como_chegar = @como_chegar %>
<% items_como_chegar = @items_como_chegar %>
<h2><%= como_chegar.title unless como_chegar.nil? %></h2>
<% if not items_como_chegar.nil? %>
	<% items_como_chegar.each do |item| %>
		<h3><%= item.title %>:</h3>
		<p><%= item.subtitle%>.</p>
	<% end %>
<% end %>