<% sliders = @sliders %>
<!-- Item -->
<% sliders.each do |slide| %>
<div class="reg_review_item">
    <% data_image = cl_image_path(slide.image.key, :transformation=>[{:width=>1000,:height=>1000,:crop=>"scale"}]) %>
    <div class="col-md-6 reg_image_bck hidden-sm" data-image="<%= data_image %>"></div>
    <div class="col-md-6 reg_image_bck" data-color="#292929">
        <div class="reg_simple_block">
            <h2><i class="ti ti-star"></i><i class="ti ti-star"></i><i class="ti ti-star"></i><i class="ti ti-star"></i><i class="ti ti-star"></i></h2>
            <h3><%= slide.title.titleize %></h3>
            <p><%= slide.subtitle %></p>
            <p><a href="<%= slide.url %>" class="btn">Leia Todos os Comentários</a></p>
            <p>
            <% if slide.enum_social_type.downcase == "facebook" %>
                <img src="/images/facebook_wh.png" alt=""></p>
            <% else %>
                <img src="/images/instagram_wh.png" alt=""></p>
            <% end %>
        </div>
    </div>
</div>
<% end %>