<div class="container text-center">
    <h2>Sobre o Moto Hostel Roncador</h2><br>
    <h3 class="reg_subtitle">Nossa História</h3>
        <div class="row reg_auto_height">
            <div class="col-md-6 reg_image_bck reg_wht_txt hidden-sm" data-image="/images/other/Dollarphotoclub_89288289.jpg">
                <div class="reg_over" data-color="#333" data-opacity="0.8"></div>
                <a href="<%= cl_path(About.first.video.key,:resource_type => :video, :format => "webm",:crop=>"scale") unless About.first.nil? %>" class="video reg_fullwidth_link"></a>
                <div class="reg_block_center">
                    <h3>
                        <span class="reg_underline_title">Assista</span>
                        <br>
                        <span class="reg_underline_title">Nosso Vídeo</span>
                   <!--      <br>
                        <span class="reg_underline_title">Menos de 1 Minuto</span>
                    --> </h3>
                </div>
            </div>
            <div class="col-md-6 reg_image_bck" data-color="#fff">
                <div class="reg_simple_block text-left">

                    <h2><%= @sobre.title if not @sobre.nil?%></h2>
                    <h3><%= @sobre.sub_title if not @sobre.nil? %></h3>
                    <p><%= @sobre.description if not @sobre.nil?  %></p>
                    <h3><%= @sobre.name if not @sobre.nil? %></h3>
                    <p><%= @sobre.kind if not @sobre.nil?  %></p>
                    <img src="/images/signature.png" height="80" alt="">
                </div>
            </div>
        </div>
        <!-- row end -->
</div>
