<!-- Slider -->
<div class="reg_slider reg_image_bck reg_fixed" data-stellar-background-ratio="0.2" data-image="/images/slider/slider_prin1.jpg">
    <div class="reg_over" data-color="#333" data-opacity="0.3" data-0="opacity:0.3;" data--400-bottom="opacity:0;"></div>
    <div class="container">
        <div class="reg_slider_content reg_wht_txt">
            <!-- vertical text -->
            <div class="reg_slider_copyright reg_slider_copyright_right">© Moto Hostel Roncador 2019</div>
            <!-- Slider Texts -->
            <div class="reg_slide_txt reg_slide_center_middle text-center"  data-0="opacity:1;" data--400-bottom="opacity:0;">
                <div class="reg_slide_title">Moto Hostel Roncador</div>
                <div class="reg_slide_subtitle">Sua Casa Longe de Casa</div>
            </div>
            <!-- Slider Texts End -->
            <!-- Slide Down -->
            <a class="reg_scroll_down reg_go" href="#reg_content">
                <b></b>
                Sobre
            </a>
        </div>
        <!-- Booking -->
        <div id="reg_slider_review" data-0="@class:noactive" data-200="@class:active">
            <div class="row">
                <div class="col-md-2 col-sm-12 col-xs-12">
                   <span class="reg_subtitle">
                    <span class="reg_book_close"><span></span><span></span></span>
                    Reservar
                </span>
            </div>
            <div class="col-md-10 col-sm-12 col-xs-12">
                <div class="reg_slider_review_form">
                    <%= render partial: "inicio/review_form" %>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<section id="reg_content" class="reg_content">
    <section class="reg_section" id="about">
        <%= render "inicio/reg_section" %>
    </section>
    <section class="reg_section reg_image_bck reg_fixed reg_wht_txt" data-stellar-background-ratio="0.2" data-image="/images/slider/slider_prin.jpg" id="reviews">
        <div class="reg_over" data-color="#292929" data-opacity="0.7"></div>
        <div class="container text-center">
            <h2>Redes Sociais</h2><br>
            <h3 class="reg_subtitle">Curta Nossa Página!</h3>
            <div class="reg_auto_height reg_single_carousel reg_blc_txt">
                <%= render "inicio/redes_sociais" %>
            </div>
        </div>
    </section>
    <section class="reg_section reg_image_bck" data-color="#f2f2f2" id="gallery">
        <%= render partial: "reg_image_bck" %>
    </section>
<section class="reg_section reg_image_bck" data-color="#f2f2f2" id="map">
    <div class="container text-center">
        <h2>Encontre-nos</h2><br>
        <h3 class="reg_subtitle">No Mapa</h3>
        <div class="reg_map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3836.985918866619!2d-52.24636874976452!3d-15.90980858892551!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93656f724c73faf3%3A0x3a205f72510b35f2!2sMoto+Hostel+Roncador!5e0!3m2!1spt-BR!2sbr!4v1552938408142" allowfullscreen></iframe>
        </div>
    </div>
</section>
</section>