</header>
<!-- Header End -- >
  <!-- PAGE TITLE SMALL -->
  <div class="reg_page_title reg_page_title_great reg_image_bck reg_fixed" data-stellar-background-ratio="0.2" data-image="/images/slider/about_slider.jpg">
    <!-- Over -->
    <div class="reg_over" data-color="#333" data-opacity="0.5"></div>
    <div class="container text-left">
      <!-- Slider Texts -->
      <div class="reg_slide_txt reg_slide_center_middle text-center reg_wht_txt">
        <div class="reg_slide_title">Sobre Nós</div>
        <div class="reg_slide_subtitle">Sua Casa<br>Longe de Casa</div>
      </div>
      <!-- Slider Texts End -->
      <!-- Booking -->
      <div id="reg_slider_review" data-0="@class:noactive" data-200="@class:active">
        <div class="row">
          <div class="col-md-3 col-sm-12 col-xs-12">
           <span class="reg_subtitle">
            <span class="reg_book_close"><span></span><span></span></span>
            Reserva
          </span>
        </div>
        <div class="col-md-9 col-sm-12 col-xs-12">
          <div class="reg_slider_review_form">
           <%= render partial: "inicio/review_form" %>
         </div>
       </div>
     </div>
   </div>
   <!-- booking end -->
 </div>
</div>
<section id="reg_content" class="reg_content">
  <section class="reg_section reg_image_bck" data-color="#f2f2f2" id="about">
    <div class="container text-center">
      <%= render partial: "inicio/reg_section" %>
    </div>
  </section>
  <!-- section -->
  <section class="reg_section" id="team">
    <div class="container text-center">
      <!-- <h2>Nosso</h2><br> -->
      <h3 class="reg_subtitle">Anfitriões</h3>
      <div class="reg_icon_boxes row text-center">
        <div class="reg_team_slider">
          <%= render partial: "sobre/team" %>      
        </div>
      </div>
    </div>
  </section>
</section>
