<div class="container">
    <div id="reg_footer_block" data-0="@class:noactive" data-300-end="@class:active">
        <i class="ti flaticon-reception-bell"></i><span class="reg_subtitle">Precisa de Ajuda<b>(66)  99218-6245</b></span>
        <p>Entre em contato conosco será uma satisfação em recebe-lo em nosso Moto Hostel Roncador.</p>
    </div>
    <div class="row reg_wht_txt">
        <div class="col-md-5 col-sm-3">
            <div class="reg_subtitle">Moto Hostel Roncador</div>
            <h3>Aragarças - GO</h3>
            </br>
            <p>© 2019 Campinapolis.com</p>
        </div>
        <div class="col-md-2 col-sm-3">
            <h4>Endereço:</h4>
            <p>Av. Dra. Josefina Balestreiro, Nº 1159 St.Ceará. Aragarças-GO</p>
        </div>
        <div class="col-md-3 col-sm-3">
            <h4>Contato</h4>
            <p><a href="mailto:contact@regalhostels.com">regivaldoipc@gmail.com</a><br>
                Celular: (66) 99218-6245<br>
                <a href="mailto:jobs@regalhostels.com">motohostelroncador@gmail.com</a>
            </p>
        </div>
        <div class="col-md-2 col-sm-3">
            <h4>Siga-nos</h4>
            <ul>
            <!--     <li><a href="#">Behance</a></li>
            -->    <li><a href="https://www.facebook.com/Moto-Hostel-Roncador-1947702275327607/">Facebook</a></li>
            <!--     <li><a href="#">Dribble</a></li>
            --></ul>
        </div>
    </div>
</div>