<meta charset="utf-8">
<%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Moto Hostel Roncador</title>
<%= favicon_link_tag asset_path('favicon-512x512.png') %>
<%= javascript_include_tag "application" %>
<link href="/css/regal_library.css" rel="stylesheet">
<link href="/fonts/themify-icons.css" rel="stylesheet">
<link href="/fonts/hotel/flaticon.css" rel="stylesheet">
<link href="/css/regal_style.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Raleway:400,100,300,500,700,900' rel='stylesheet' type='text/css'>

