<div class="reg_menu_cont_logo"><div class="reg_menu_cont_logo_close"><span></span><span></span></div>Moto Hostel</div>
<ul>
    <li><%= link_to "Início","/", data: { turbolinks: false } %></li>
    <li><%= link_to "Sobre nós","/sobre/index", data: { turbolinks: false } %></li>
    <li><%= link_to "Quartos","/quartos/index", data: { turbolinks: false } %></li>
    <li><%= link_to "Serviços","/servicos/index", data: { turbolinks: false } %></li>
    <li><%= link_to "Contatos","/contatos/index", data: { turbolinks: false } %></li>
    <!-- <li><a href="/admin"><span>Admin</span></a></li> -->
    <!-- <li><a href="07_faq.html"><span>FAQ</span></a></li>
    <li><a href="09_terms.html"><span>Terms</span></a></li>
    <li><a href="10_bar.html"><span>Regal Bar</span></a></li>
    <li><a href="11_vacancies.html"><span>Vacancies</span></a></li> -->
</ul>
<!-- Social Btns -->
<div class="reg_menu_cont_social">Siga-nos
    <a href="https://www.facebook.com/Moto-Hostel-Roncador-1947702275327607/" class="ti ti-facebook"></a>
    <!-- <a href="#" class="ti ti-twitter"></a> -->
    <!-- <a href="#" class="ti ti-instagram"></a> -->
    <!-- <a href="#" class="ti ti-google"></a> -->
</div>