<script src="/js/jquery-1.12.4.min.js"></script>
<script src="/js/regal_library.js"></script>
<script src="/js/regal_script.js"></script>
<script>
         $.datepicker.regional['pt-BR'] = {
         closeText: 'Fechar', closeStatus: 'Fechar sem modificar',
         prevText: 'Anterior', prevStatus: 'Veja o mês anterior',
         nextText: 'Proximo', nextStatus: 'Veja o próximo mês',
         currentText: 'Atual', currentStatus: 'Visualizar mês atual',
         monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho',
         'Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
         monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun',
         'Jul','Ago','Set','Out','Nov','Dez'],
         monthStatus: 'Veja outro mês', yearStatus: 'Veja outro ano',
         weekHeader: 'Sem', weekStatus: '',
         dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
         dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sab'],
         dayNamesMin: ['Dom','Seg','Ter','Qua','Qui','Sex','Sab'],
         dayStatus: 'Use DD como o primeiro dia da semana', dateStatus: 'Escolha o dia, Mês',
         dateFormat: 'dd/mm/yy', firstDay: 0, 
         initStatus: 'Escolha a data', isRTL: false};
         $.datepicker.setDefaults($.datepicker.regional['pt-BR']);
</script>
